HappyChefServices/obj/
HappyChefWeb/.vs/
HappyChefWeb/Web/bin/
HappyChefWeb/obj/
HappyChefWeb/packages/
packages/
EFGenerate/obj/
.vs/
HappyChefServices/bin/
obj/
bin/
HappyChef/Client/obj
HappyChef/Client/bin
HappyChef/Shared/bin
HappyChef/Shared/obj