@page "/favourites"
@inject HttpClient http

<h3>Favourites</h3>

<div>
    <a class="btn btn-success" href="favourites/create">New Favourite</a>
</div>


@if (favourites == null)
{
    <text> Loading</text>
}
else if (favourites.Length == 0)
{
    <text> There are no records in the database </text>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Actions</th>
                <th>Recipe Name</th>
                <th>Calories</th>
                <th>Prep Time</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var w in favourites)
            {
            <tr>
                <td>
                    <a class="btn btn-success">Edit</a>
                    <button class="btn btn-danger">Delete</button>
                </td>
                <td>@w.FavouriteLabel</td>
                <td>@w.FavouriteCalories</td>
                <td>@w.FavouriteTotalTime</td>

            </tr>
            }
        </tbody>
    </table>

}
@code {
    FavouritesModel[] favourites { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadFavourites();
    }

    async Task LoadFavourites()
    {
        favourites = await http.GetFromJsonAsync<FavouritesModel[]>("api/favourites");
        @*favourites = new FavouritesModel[]
        {
            new FavouritesModel(){Id = 1, FavouriteLabel = "Finger Lickin", FavouriteCalories = 5000, FavouriteTotalTime = 200}
        };*@

    }

}
