@page "/favourites"
@attribute [Authorize]
@inject HttpClient http
@using HappyChef.Client.Models
@inject IHttpClientFactory _clientFactory

<h3>Favourites</h3>

@if (favourites == null)
{
    <text> Loading</text>
}
else if (favourites.Length == 0)
{
    <text> There are no records in the database </text>
}
else
{
    <table class="table">
        <thead class>
            <tr>
                <th>Most favorite Recipe</th>
                <th>Recipe Name</th>
                <th>Calories</th>
                <th>Prep Time</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var w in favourites)
            {
            <tr>
                <td>@w.FavouriteTotalTime</td>

                <td>@w.FavouriteLabel</td>
                <td>@w.FavouriteCalories</td>
                <td>

                    <button type="submit" class="btn btn-success" >Remove</button>

                </td>

            </tr>
            }
        </tbody>
    </table>

}
@code {
    FavouritesModel[] favourites { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadFavourites();
    }

    async Task LoadFavourites()
    {
        favourites = await http.GetFromJsonAsync<FavouritesModel[]>("api/favourites");


    }





    private async Task RemoveRecipe(Recipe recipe)
    {
        FavouritesModel favourite = new FavouritesModel() { RecipeUri = recipe.Uri, FavouriteLabel = recipe.Label, FavouriteCalories = recipe.Calories, UserId = 1 };
        await http.PostAsJsonAsync("api/favourites", favourite);

    }







}
